# Archivos temporales y de caché
data_cache/
debug.log
instance/site.db
flask_session/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de logs
*.log

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Archivos de uploads temporales
uploads/
reports/